:root {
--font-family: sans-serif;
--line-height: 1.5;
--font-size: 18px;
--icon-arrow-up: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="19" x2="12" y2="5"></line><polyline points="5 12 12 5 19 12"></polyline></svg>');
--icon-arrow-right: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>');
--icon-arrow-down: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>');
--icon-arrow-left: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>');
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

nav,
main {
  max-width: 1450px;
  margin: 0 auto;
}

section > hgroup {
  margin-bottom: 2rem;
}

section footer {
  display: flex;
  padding: 2rem 0;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
}


/*
 *  Icon set
 *
 *  Use example: <a href="#">Link<i class="icon arrow-up"></i></a>
 */

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 5px;
  vertical-align: middle;
  background-repeat: no-repeat;
  transition: transform .3s ease;
}

.icon.arrow-up     { background-image: var(--icon-arrow-up); }
.icon.arrow-right  { background-image: var(--icon-arrow-right); }
.icon.arrow-down   { background-image: var(--icon-arrow-down); }
.icon.arrow-left   { background-image: var(--icon-arrow-left); }


/*
 *  Dynamic arrow attachment for link elements
 */

a:hover .icon.arrow-up     { transform: translate(0,-5px); }
a:hover .icon.arrow-right  { transform: translate(5px,0); }
a:hover .icon.arrow-down   { transform: translate(0,5px); }
a:hover .icon.arrow-left   { transform: translate(-5px,0); }


/*
 *  Back to Top
 */

.back-to-top {
  display: inline-block;
  padding: 1rem;
  margin-left: auto;
  font-size: large;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.back-to-top:hover {
  text-decoration: underline dotted .1rem;
  text-underline-position: under;
}
