/*
 *  'project' is where markdown files styles are defined.
 */

@media screen and (min-width: 768px) {
  .content-right,
  .content-center,
  .content-left {
    max-width: 60%;
    padding: 2rem 0;
  }

  .content-right {
    margin-left: auto;
  }

  .content-center {
    margin: auto;
  }

  .content-left {
    margin-right: auto;
  }
}
