---

import MainLayout from '../layouts/MainLayout.astro';

const pageTitle = "About";

---

<MainLayout pageTitle={pageTitle}>
  <div class="container">
    <section class="bio">
      <p><i>Short Presentation:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac mattis purus, sed pulvinar lorem. Duis tincidunt tincidunt libero sit amet pulvinar. Sed in imperdiet enim, nec lacinia urna. Donec mollis justo scelerisque nibh vulputate, eu sodales magna sodales. Donec ut ipsum tellus. Nunc vel lectus eu enim semper commodo.</p>
      <p>Aenean convallis sem eget congue vulputate: <strong>email[at]email.com</strong></p>
    </section>
    <aside>
      <ul class="social-media-list">
        <li><a class="social" href="https://github.com/username">GitHub</a></li>
        <li><a class="social" href="https://www.behance.net/username">Behance</a></li>
      </ul>
    </aside>
  </div>
</MainLayout>

<style>
  .bio {
    max-width: 45rem;
  }

  .social-media-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 0;
  }

  .social-media-list li {
    list-style: none;
  }

  .social {
    display: block;
    padding: 1rem 0.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
</style>
