---

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";

---

<BaseLayout pageTitle={pageTitle}>
  <h2><i>Short Presentation:</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac mattis purus, sed pulvinar lorem. Duis tincidunt tincidunt libero sit amet pulvinar. Sed in imperdiet enim, nec lacinia urna. Donec mollis justo scelerisque nibh vulputate, eu sodales magna sodales. Donec ut ipsum tellus. Nunc vel lectus eu enim semper commodo.</h2>
  <p>Aenean convallis sem eget congue vulputate: <mark>email[at]email.com</mark></p>
  <ul>
    <li><a href="">GitHub</a></li>
    <li><a href="">Behance</a></li>
  </ul>
</BaseLayout>
