---

import MainLayout from '../layouts/MainLayout.astro';

const pageTitle = "About";

---

<MainLayout pageTitle={pageTitle}>
  <div class="container">
    <section>
      <p class="bio">Me licencié en Bellas Artes y acabé con más preguntas que respuestas. <br/>Me interesa la comunicación visual y el diseño de espacios, tanto del mundo físico como del digital. Con una aproximación interdisciplinar, mantengo una práctica centrada en identidades, diseño web y diseño de espacios. Mi trabajo es estructurado y sistemático, con una visión integral, exploradora y entusiasta.</p>
      <p><strong>bustobocanegra[at]gmx.com</strong></p>
    </section>
  </div>
</MainLayout>

<style>
  .bio {
    max-width: 45rem;
    font-size: calc(var(--pico-font-size) * 1);
  }

  .social-media-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 0;
  }

  .social-media-list li {
    list-style: none;
  }

  .social {
    display: block;
    padding: 1rem 0.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
</style>
