---

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Busto Bocanegra";

---

<BaseLayout pageTitle={pageTitle}>
  <section class="hero">
    <img class="cover" src="https://i.gifer.com/LGUj.gif" alt="miscellaneous images from projects">
  </section>
</BaseLayout>

<style>
  .hero {
    display: flex;
    height: fit-content;
  }

  .hero .cover {
    width: auto;
    height: 100%;
    margin: auto;
    transform: rotate(-6deg);
  }
</style>
