---

import MainLayout from '../layouts/MainLayout.astro';

const pageTitle = "Busto Bocanegra";

---

<MainLayout pageTitle={pageTitle}>
  <section class="hero">
    <img class="hero-image" src="/images/hero.gif" alt="miscellaneous images from projects">
  </section>
</MainLayout>

<style>
  .hero {
    display: flex;
    height: fit-content;
  }

  .hero .hero-image {
    width: auto;
    height: 100%;
    padding: 2vw 0;
    margin: 0 auto;
  }
</style>
