---

import MainLayout from '../layouts/MainLayout.astro';
import hero from '../images/hero.gif';

const pageTitle = "Busto Bocanegra";

---

<MainLayout pageTitle={pageTitle}>
  <div class="bg"></div>
  <div class="container">
    <section class="hero">
      <img class="hero-image" src={hero.src} alt="miscellaneous images from projects">
    </section>
  </div>
</MainLayout>

<style>
  .hero {
    z-index: 1;
    display: flex;
    height: fit-content;
  }

  .hero .hero-image {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }

  /* Background decoration */
  .bg {
    position: absolute;
    z-index: -10;
    top: 0;
    width: 100vw;
    height: 50vh;
    background-image: url(../images/pattern-01.jpg);
    background-size: auto;
    background-repeat: repeat;
  }
</style>
