---

---

<footer class="container">
  <p><strong>bustobocanegra[at]gmx.com</strong></p>
  <a class="back-to-top" href="#">Subir<i class="icon arrow-up"></i></a>
</footer>

<style>
  footer {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem 0;
  }
  .back-to-top {
    align-items: end;
  }
</style>
