---

---

<footer>
  <div class="container">
    <div>
      <p>Email: <span class="mail">bustobocanegra[at]gmx.com</span></p>
    </div>
    <a class="back-to-top" href="#">Subir<i class="icon arrow-up"></i></a>
  </div>
</footer>

<style>
  footer {
    padding: 3rem 0;
    border-top: var(--border-deco-width) var(--border-deco-style) var(--border-deco-color);
  }

  footer .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .mail {
    margin-left: 5px;
  }
</style>
