---

---

<header class="header">
  <div class="container">
    <nav class="main-nav">
      <a class="home-link" href="/">BustoBocanegra</a>
      <ul class="nav-menu">
        <li><a href="/#projects">Proyectos</a></li>
        <li><a href="/#about">+ Info</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    padding: 0;
    border-bottom: var(--border-deco-width) var(--border-deco-style) var(--border-deco-color);
  }

  .main-nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .home-link {
    margin-right: auto;
    font-family: var(--font-family-serif);
    font-size: 1.4rem;
    text-decoration: none;
  }

  .nav-menu {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
  }

  .nav-menu li {
    margin-right: .5rem;
    list-style: none;
  }

  @media screen and (max-width: 576px) {
    .home-link {
      font-size: 1.6rem;
    }
  }
</style>
