---

---

<header class="header">
  <nav class="main-nav">
    <a class="nav-home-link" href="/"><h1>BustoBocanegra</h1></a>
    <ul class="nav-menu">
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
</header>

<style>
  .header {
    margin-bottom: 2rem;
    border-bottom: 2px dotted #666;
  }

  .main-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
  }

  .nav-home-link {
    font-weight: 700;
    margin-right: auto;
  }

  .nav-home-link h1 {
    margin: 0;
  }

  .nav-menu {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
  }

  .nav-menu li {
    display: flex;
    margin: 0;
    list-style: none;
  }

  .nav-menu li a {
    padding: 1rem .5rem;
    margin-right: .5rem;
  }
</style>
