---

import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;

---

<BaseLayout pageTitle={frontmatter.projectName}>
  <h1>{frontmatter.projectName}</h1>
  <img src={frontmatter.image.url} style="max-width: 98vw;" alt={frontmatter.image.url} />
  <slot />
</BaseLayout>
